.description {
    font-size: clamp(1rem, 5vw, 5rem);
}

.images {
    width: clamp(400px, 38vw, 700px) !important;
    height: clamp(400px, 38vw, 700px) !important;
}
.models {
    width: clamp(400px, 38vw, 700px);
    height: clamp(400px, 38vw, 700px);
}
